[Unit]
Description=Publish IP to IOTA tangle on startup
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=pi
ExecStart=/usr/local/bin/npm start --prefix={{ IpOnIotaDir }}
Environment=IP_ON_IOTA_TAG={{ IpOnIotaTag }}
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target
